*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    background-color: rgb(124, 98, 98);
}

h1 {
   margin-bottom: 15px;
text-align: center;
color: #ff4532;
font-size: 50px;
}

section {
    position: relative;
    padding: 15px;
    width: 90%;
}

p {
    position: relative;
    clear: right;
}

div {
    position: relative;
    background-color: gray;
    border: 3.5px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.header {
    float: right;
    width: 100px;
    padding: 5px;
    margin: -3px -3px 0px;
    border: 3.5px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: steelblue;

}

.header-two {
    float: right;
    color: white;
    width: 100px;
    padding: 5px;
    margin: -3px -3px 0px;
    border: 3.5px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: #c02792;

}

.header-three {
    color: black;
    float: right;
    width: 100px;
    padding: 5px;
     margin: -3px -3px 0px;
    border: 3.5px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: tomato;

}

.items {
    padding: 5px;
    border: none;
    background-color: grey;
    font-family: Helvetica;
    color: white;
    margin: 3px ;
    height: 150px;
    overflow: auto;
}

.row {
    width: 90%;
}


@media (min-width: 992px) {
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .colmn-md-6 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .colmn-md-12 {
        float: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 767px) {
    .colmn-sm-12 {
        float: left;
        width: 100%;
    }
}